header,
main {
  display: block;background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.left {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 50px;
}

.right {
  font-size: 30px;
  padding-top: 20px;
  padding-right: 50px;
}

.main {
  height: calc(100vh - 90px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 700px;
}