:root {
  --main-btn: #2cb696;
  --main-color: #fff;
}

.head {
  font-size: 30px;
  padding-top: 20px;
}

header,
main {
  display: block;
}

.header{
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.header_left {
  padding-left: 50px;
}

.header_right {
  padding-right: 50px;
}

.list {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid var(--main-btn);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--main-btn);
  text-decoration: none;
  color: var(--main-color);
}

.main {
  height: calc(100vh - 90px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 700px;
}