.form {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.field-text{
  font-size: 10px;
}

.field {
  padding: 10px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.form-submit {
  margin: 50px;  
}